/*Taken from https://github.com/yurimds10/gruvbox.userstyles/blob/main/theme/gruvbox.css */

:root {
  --bg0_h: #1d2021;
  --bg0: #282828;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --darkness_accent: #5b6e67;
  --dark_accent: #729084;
  --accent: #83a598;
  --bright_accent: #a3ccbc;

  --black: #3c3836;
  --white: #ebdbb2;
  --gray: #928374;
  --red: #cc241d;
  --orange: #d65d0e;
  --yellow: #d79921;
  --green: #98971a;
  --aqua: #689d6a;
  --blue: #458588;
  --magenta: #b16286;

  --bright_black: #665c54;
  --bright_white: #bdae93;
  --bright_red: #fb4934;
  --bright_orange: #fe8019;
  --bright_yellow: #fabd2f;
  --bright_green: #b8bb26;
  --bright_aqua: #8ec07c;
  --bright_blue: #83a598;
  --bright_magenta: #d3869b;
}
